body{
display: inline-flex;
font-size:16px; 
padding: 1 px 1 px 1px 1 px;
margin:0;
width: 100%;
height: 100vh;

/* lo agregue para definir el tamano de letra */
}

 /*lo agregue para definir la ubicacion de cartas */
.contenedor{
 flex-wrap: wrap;
 display: inline-block;
}

/* lo agregue para definir la ubicacion de logo pokemon */

.logo.pokemon {
border: 0;
padding: 0;
margin: 0;
display:inline-block;
justify-content: center;
align-items: center;
position:absolute;
width:auto;
height:auto;
max-width: 100%;
left: 3.125em;
top: -300px;
mix-blend-mode: hard-light;

}

img{
max-width: 100%;
max-height: 100%;
/*flex:auto;*/
}

/*.header{
    background-color: #656D8D;
    height: 80px;
    width: 100%;
}*/

.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /*max-width: 100% ;*/
  margin: 0 auto;
  background-color:#656D8D;
  max-width: 100%;
  height: 5em;
  width: 100%;

}

.home{
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  line-height: 5em;
  padding: 0 2.5em;
}

.nav-menu{
  display: flex;
  margin-right: 2.5em;
}

.nav-menu-link{
  color:white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  list-style: none;
  font-family: sans-serif;
  margin: 0 10px;
  line-height: 50px;
  color: white;
  font-family: sans-serif;
}

.nav-menu-link:hover{
  background-color: thistle;
  transition: 0.5s;
}
section{
  display:flex;
  align-items: center;
  width: 100%;
  height: 120vh;
  background-color: rgba(152, 185, 245, 0);
 
}

.background{
display: flex;
align-items: center;
background-image: url("./img/pikachu.background.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
max-width: 100%;
width: 100%;
height: 100%;
margin: 0;
background-color:rgba(0, 0, 0, 0.8);padding: 0;

}
/*
.background:before {
display: flex;
content:'';
position: absolute; 
background-size: cover;
background-position: center;
background-repeat: no-repeat;
top: 449px;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 120vh;
background-color: rgba(152, 185, 245, 0.418);

}*/


.container-popup{
box-sizing: border-box;
background-color:transparent;
font-family: sans-serif;
display: flex;
position: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 90%;
max-width: 1000px;
max-height: 100%;
margin:-10px;
}

.popup{
 display:flex;
 /* formato rbga trasnparencia de 0.2 como un 20%*/
 background-color:rgba(0, 0, 0, 0.2);
 align-items: center;
 justify-content: center;
 position: fixed;
 top:0;
 left:0;
 right: 0;
 height:100%;
 width: 100%;
 visibility:visible;
/**/
}
.popup.hidden{
visibility: hidden;
}

.close.hidden{
  visibility: hidden;
}

button{
  width: 80px;
  height: 40px;
  background-color: grey;
}

#aqui{
  background-color:rgb(139, 137, 135);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  font-family:sans-serif;
  max-width: 100%;
  max-height: 100%;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  color: #08436d;  
  position: relative;
  left: -10px;
  top: -10px;
}
.modal{
  background-color: rgba(227, 237, 243, 0.685);
  max-width: 100%;
  max-height: 100%;
  margin-top: -250px;
  padding-left: 20px;
  border-radius: 3px;
  margin-left: 10px;
  box-shadow: 6px 12px 0px rgba(70, 6, 6, 0.3);
  text-align: center;
  cursor: pointer;
}
.modal .cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block; /* el enlace abarque todo el espacio disponible
  y pueda colocar el texto a la derecha con text alig*/
  text-align: right;
  padding-right: -30px;
  color:#110303;
  transition: .3s ease all;/*de 3 seg con una funsion ease para todas
  las propiedades*/
  
}
.modal .cerrar-popup:hover {  
  color:#000;
}

h1{
display:flex;
list-style:6.25em;
text-align: center;
text-decoration-style: double;
font-weight: bold;
padding: 10px 10px;
font-size:20px; 
margin:0;
 
}
h3{
  opacity: 0.5; 
  font-size:18px ;
}

.pikachu{
background-color:transparent;
border: 0;
border-radius: 30px;  
animation: bouncel 8s alternate infinite ease-in;
}
@keyframes bouncel {
0%{
transform:translate(40%);
} 
100%{
transform:traslate(40%);
}
}   
/*base de pikachu en movimiento*/
#jugamos{
display: block;
background-color:rgb(91, 91, 243);
border-radius: 30px;
font-family:sans-serif;
font-style: normal;
font-weight: 800;
border: transparent;;
pointer-events: none;
font-size: 20px;
text-align: center;
width: 100px;
height: 150px;
cursor: pointer;
position: relative;
left: -650px;
top: -200px;
}

#root{
  display: flex;
  position: flex;
  align-items:flex-start;
  justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
  position: relative;
  margin-left:10px;
}

aside{
display: flex;
width: 185px;
height: 100%;
}


h2{
display: none;
position:flex;
font-family:sans-serif;
font-style: normal;
font-weight: 800;
font-size: 1.875em;
line-height: 1.125em;
color:bisque;
border-style: rgba(34, 3, 3, 0.452);   
}

.pasos{
display:block;
position: flex;
row-gap: 30px;
flex-direction: column;
align-items:center;
padding-top: 210px;
padding-right: 80px;
margin: 0;
 
}

#paso1{
display: block;
width: 100%;
height: 220%;
border-radius: 0.625em; 
background: rgb(116, 87, 87);
font-family:sans-serif;
text-align:center;
font-style: normal;
font-size: 22px;
padding: 8px;
color:rgb(197, 202, 207);
box-shadow: 8px 16px 0 rgb(70, 66, 66);
} 
#paso2{
display:block ;
width: 100%;
height: 200%;
border-radius:0.625em ;
background: rgb(116, 87, 87);
font-family: sans-serif;
font-style: normal;
font-weight: 100;
padding: 12px;
margin-top: 30px;
font-size: 22px;
line-height: 1.5em;
text-align:center;
color:rgb(197, 202, 207);
box-shadow: 8px 16px 0 rgb(70, 66, 66);
}  

.footer{
background-color:lightgray; 
}

.contenedor-imagenes{
display: flex;
justify-content: space-evenly;
align-items:center;
flex-direction:column;
max-width: 100%;
width: 100%;
}

.memorymatch{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex;
  align-items:center;
}
.textocopyrigth{
  font-size: 2em;
  width: 60%;
  text-align:center;
  justify-content:flex-end;
  }
  
.instagram{
width: 5%;
padding: 1.25em 0 0 35em;
}
/* El contenedor padre de la tarjeta invertida:  
(elimine la perspectiva si no desea el efecto 3D */
.containerCard{
    display:grid;
    flex-direction:column ;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 35px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-left: 500px;
    perspective: 1000px;
}
/* Este contenedor es necesario para colocar el back y front  */
.card {
  position:flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  animation: initial 5s;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}
/* Haz un volteo horizontal cuando mueves el mouse sobre el contenedor de la caja volteada */
.card:hover , .card{
  /*transform: rotateY(180deg);*/
  transition: transform 1s;
  transition-duration: 0.5s;
}
/* Posiciona el front y el back */
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    pointer-events: none;
    border-radius: 35px;
    border-width: 2px;
    border-style:solid;
}
/*  lado front  */
.front {
  background-color: #bbb;
  color: black;
}
/*  lado back */
.back {
  color: white;
  transform: rotateY(180deg);
  transition-duration: 0.5s;
  transition: transform 0.5s;
  background-color:rgb(50, 170, 245);
}
/* Estilo de la parte de front */
.front:hover {
  box-shadow: 0 0 30px 20px rgba(250, 246, 246, 0.651);
  /*transform: rotateY( 180deg ) ;*/
  transition-duration: 1s;
  transition: transform 1s;
  backface-visibility:hidden;
  }
  /* Estilo de la parte de back */
  .back:hover {
  transform: rotateY(180deg);
  transform: scale(.97);
  transition: transform 0.5s;
  transition-duration: 1s;
  box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.596);
  backface-visibility:hidden;
  }

  .toggleCard {
    transform: rotateY(180deg);
  }

  .nombreContainer{
   display: flex; 
   justify-content: center;
   align-items: center;
   font-size: 20px;
   padding-top: 50px;
   margin-top: -50px;
   
  }