
body{
font-size:16px; 
padding: 1 px 1 px 1px 1 px;
margin:0;
max-width: 1200px;
width: 100%;
height: 100vh;

/* lo agregue para definir el tamano de letra */
}


 /*lo agregue para definir la ubicacion de cartas */
.contenedor{
 flex-wrap: wrap;
 display: inline-block;
}

/* lo agregue para definir la ubicacion de logo pokemon */

.logo.pokemon {
border: 0;
padding: 0;
margin: 0;
display:inline-block;
justify-content: center;
align-items: center;
position:absolute;
width:auto;
height:auto;
max-width: 100%;
left: 3.125em;
top: -300px;
mix-blend-mode: hard-light;

}

img{
max-width: 100%;
max-height: 100%;
/*flex:auto;*/
}

/*.header{
    background-color: #656D8D;
    height: 80px;
    width: 100%;
}*/

.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /*max-width: 100% ;*/
  margin: 0 auto;
  background-color:#656D8D;
  max-width: 100%;
  height: 5em;
  width: 100%;

}

.home{
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  line-height: 5em;
  padding: 0 2.5em;
}

.nav-menu{
  display: flex;
  margin-right: 2.5em;
}

.nav-menu-link{
  color:white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  list-style: none;
  font-family: sans-serif;
  margin: 0 10px;
  line-height: 50px;
  color: white;
  font-family: sans-serif;
}

.nav-menu-link:hover{
  background-color: thistle;
  transition: 0.5s;
}

main{
display: inline-flex;
align-items: center;
background-image: url("./img/pikachu.background.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
max-width: 100%;
width: 100%;
height: 120vh;
margin: 0;
padding: 0;
}

h1{
display: none;
list-style:6.25em;
width: 8.75em;
text-align: center;
height: 93.75em;
top: 25em;
font-size:1.875em;   
}
#aqui{
display:none;
width: 6.25em;
height: 2.1875em;
left: 350px;
top: 530px;
font-family:sans-serif;
font-style: normal;
font-weight: 800;
font-size: 1.25em;
line-height: 1.4375em;
color: #238DD9;

}

.texto-instrucciones{
display: inline-block;
text-align: center;
padding:27em 0 0 0 ;
}

h2{
position:flex;
font-family:sans-serif;
font-style: normal;
font-weight: 800;
font-size: 1.875em;
border-style: black;
line-height: 1.125em;
color: lightyellow;
border-style: rgb(243, 231, 231);   
}

.pasos{
display: flex;
flex-direction: column;
align-items:center;
justify-content: space-between;
padding:25em 6em 0 0 ;
gap: 30px 30px;
 
}
#paso1{
display:flex;
justify-self:center;
align-items: center;
max-width: 100%;
width: 100%;
height: 100%;
border-radius: 0.625em; 
background: rgb(116, 87, 87);
font-family: sans-serif;
font-style:normal;
font-weight: 100;
font-size: 1.5em;
text-align: center;
line-height: 1.8em;
color:rgb(197, 202, 207);
box-shadow: 8px 16px 0 rgb(70, 66, 66);
}  
#paso2{
display: flex;
justify-self:center;
align-items: center;
max-width: 100%;
width: 100%;
height: 100%;
border-radius: 0.625em; 
background: rgb(116, 87, 87);
font-family:sans-serif;
font-style: normal;
font-weight: 80;
font-size: 1.5em;
text-align: center;
line-height: 1.8em;
color:rgb(197, 202, 207);
box-shadow: 8px 16px 0 rgb(70, 66, 66);
} 
#paso3{
display: flex;
justify-self:center;
align-items: center;
max-width: 100%;
width: 100%;
height: 200%;
border-radius:0.625em ;
background: rgb(116, 87, 87);
font-family: sans-serif;
font-style: normal;
font-weight: 100;
font-size: 1.8em;
line-height: 1.5em;
text-align:center;
color:rgb(197, 202, 207);
box-shadow: 8px 16px 0 rgb(70, 66, 66);
}  

.footer{
background-color:lightgray; 
}

.contenedor-imagenes{
display: flex;
justify-content: space-evenly;
align-items:center;
flex-direction:column;
max-width: 100%;
width: 100%;
}

.memorymatch{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex;
  align-items:center;
}
.textocopyrigth{
  font-size: 2em;
  width: 60%;
  text-align:center;
  justify-content:flex-end;
  }
  
.instagram{
width: 5%;
padding: 1.25em 0 0 30em;
}
/* El contenedor padre de la tarjeta invertida:  
(elimine la perspectiva si no desea el efecto 3D */
.pokemonContainer{
    display:grid;
    grid-template-columns: 150px 150px 150px; 
    grid-template-rows: 150px 150px 150px 150px;
    gap: 60px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}
/* Este contenedor es necesario para colocar el back y front  */
.card {
  position: relative;
  width: 100%;
  height: 100%;
  left: 150px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Haz un volteo horizontal cuando mueves el mouse sobre el contenedor de la caja volteada */
/*.card:hover , .card{
  transform: rotateY(180deg);
  transition: transform 1s;
  transition-duration: 0.5s;
}*/

/* Posiciona el front y el back */
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    pointer-events: none;
}
/*  lado front  */
.front {
  background-color: #bbb;
  color: black;
}
/*  lado back */
.back {
  color: white;
  transform: rotateY(180deg);
  transition-duration: 0.5s;
  transition: transform 0.5s;
  border-radius: 20px;
}
/* Estilo de la parte de front */
.front:hover {
  box-shadow: 0 0 30px 20px rgb(255, 255, 255);
  /*transform: rotateY( 180deg ) ;
  transition-duration: 1s;
  transition: transform 1s;*/
  backface-visibility:hidden;
  }
  /* Estilo de la parte de back */
  .back:hover {
  /*transform: rotateY(180deg);*/
  transform: scale(.97);
  transition: transform 0.5s;
  /*transition-duration: 1s;*/
  box-shadow: 0 0 30px 20px rgb(255, 255, 255);
  backface-visibility:hidden;
  }


  .toggleCard{
    transform: rotateY(180deg);
  }

  