
body{
    font-size:16px; 
    font-weight:300; 
/* lo agregue para definir el tamano de letra */
}


 /*lo agregue para definir la ubicacion de cartas */
.contenedor{
 flex-wrap: wrap;
}

/* lo agregue para definir la ubicacion de logo pokemon */
.header{
grid-area: header;
padding: 0px;
margin:0;
}

.logo.pokemon {
border: 0;
padding: 0;
margin: 0;
display:inline-block;
justify-content: center;
align-items: center;
position:absolute;
width:auto;
height:auto;
max-width: 100%;
left: 3.125em;
top: -12.5em;
mix-blend-mode: hard-light;
}


/*.header{
    background-color: #656D8D;
    height: 80px;
    width: 100%;
}*/

.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /*max-width: 100% ;*/
  margin: 0 auto;
  background-color:#656D8D;
  height: 80px;
  /*width: 100%;*/

}

.home{
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  line-height: 80px;
  padding: 0 40px;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
}


.nav-menu-link{
  color:white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  list-style: none;
  font-family: sans-serif;
  margin: 0 10px;
  line-height: 50px;
  color: white;
  font-family: sans-serif;
  


.nav-menu{
display: flex;
margin-right: 40px;
}


.nav-menu-link:hover{
  background-color: thistle;
  transition: 0.5s;



}



.main{

background: url(./img/pikachu.background.png) no-repeat center top; 
background-size:auto;
position: absolute;
width: auto;
height: auto;
left: 0px;
top: 600px;
object-fit: cover;

}

h1{
list-style:6.25em;
position: absolute;
width: 8.75em;
text-align: center;
height: 93.75em;
left: 18.75em;
top: 25em;
font-size:1.875em;   
}
#aqui{
position: absolute;
width: 6.25em;
height: 2.1875em;
left: 350px;
top: 530px;
font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 1.25em;
line-height: 1.4375em;
color: #238DD9;
}

h2{
position: absolute;
width: 800px;
height: 17px;
left: -100px;
top: 1000px; 
font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 1.875em;
line-height: 1.125em;
text-align: right;
color: #FFFFFF;   
}
#paso1{
position: absolute;
width: 6.25em;
height: 6.25em;
left: 9.375em;
top: 67.5em; 
background: grey;
font-family: Roboto;
font-style: normal;
font-weight: 100;
font-size: 1.375em;
line-height: 2.0625em;
text-align:center;
color: #FFFFFF;
}  
#paso2{
position: absolute;
width: 8.125em;
height: 12.5em;
left: 21.25em;
top: 68.75em; 
background: grey;
font-family: Roboto;
font-style: normal;
font-weight: 100;
font-size: 1.375em;
line-height: 2.062em;
text-align:center;
color: #FFFFFF;
} 
#paso3{
position: absolute;
width: 6.875em;
height: 9.375em;
left: 35.3125em;
top: 68.75em; 
background: grey;
font-family: Roboto;
font-style: normal;
font-weight: 100;
font-size: 1.375em;
line-height: 2.0625em;
text-align:center;
color: #FFFFFF;
}  

.instagram {
position: absolute;
width: 50px;
height: 50px;
left: 34.375em;
top: 132.5em;
display:flex;
}

.facebook {
position: absolute;
width: 50px;
height: 50px;
left: 40.625em;
top: 132.5em;
display: flex;
}

.memorymatch{
position: absolute;

display:flex;

width: 100%;
max-width: 100%;
left: 0;
top: 2550;

}
#copyrigth{
position: absolute;
width: 3.125em;
height:3.125em;
left: 32.5em;
top: 153.125em;   
}        
#textocopyrigth{
position: absolute;
width: 3.125em;
height:3.125em;
left: 36.25em;
top: 151.25em;
font-size:1.875em;
}  

